@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    color: #133041;
    background-color: #36384d;
    min-height: 100vh;
  }

  #root {
    min-height: 100vh;
  }
}
